:root {
    --primary-color: rgb(68, 0, 124);
    --primary-color-alpha: rgba(68, 0, 124, 0.7);
    --primary-text-color: #fff;

    --secondary-color: #ccc;
    --secondary-text-color: #fff;
    --secondary-text-strong-color: #aaa;

    --terciary-color: #ddd;
    --terciary-text-color: #fff;
    --terciary-text-strong-color: #aaa;

    --normal-text-color: #000;
    --background-black: #000;
    --background-white: #fff;



}